/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Creepster&family=DM+Serif+Display&display=swap');

/* Other Fonts

@font-face {
  font-family: 'Gingerbread House';
  src: url('../fonts/Gingerbread-House.woff2') format('woff2'),
       url('../fonts/Gingerbread-House.woff') format('woff');
} */

/* General Styles */

body {
  background-color: #FA7819;
  text-align: center;
  font-family: 'Black Ops One', 'sans-serif';
}

/* Header & Nav Styles */

header {
    
}

.main-heading {
   font-family: 'Creepster', 'sans-serif';
   font-size: 3.5rem;
}

nav>a {
    color: #000000;
    font-size: 1.1rem;
    padding: 0 0.3rem;
    letter-spacing: 0.1rem;
}

a:hover {
    
}

/* Play Game Page */
/* Main Styles */

.matching-cards {
  display: flex;
  border: medium solid #000000;
  flex-wrap: wrap;
}

.front-card {
  height: 4rem;
  width: 4rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border: thin dotted #000000;
}

.back-card {
  height: 4rem;
  width: 4rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border: thin dotted #000000;
}

/* Footer */

/* Footnote */
.footnote-style {
    text-align: center;
    margin-top: 6.2rem;
    border-top: 2px solid #000000;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
}

.color-black {
  color: #000000;
}

/* Media Queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

}
        
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

/* Contact Page */
/* Contact Form */

.form-style {
    font-size: 1.2rem;
    margin-top: 5rem;
}

.input-field-style {
    border: medium double #000;
    margin: 0.4rem 0;
}

.input-height {
    height: 1.5rem;
}

.button-style {
    background-color: #594365;
    border: thick outset #795d8c;
    font-size: 0.9rem;
    color: #ebe6e0;
    width: 6rem;
    height: 2.5rem;
}