/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Creepster&family=DM+Serif+Display&display=swap');

/* General Styles */

* {
  background-color: #FA7819;
  text-align: center;
  font-family: 'Black Ops One', 'sans-serif';
}

/* Header & Nav Styles */

.main-heading {
   font-family: 'Creepster', 'sans-serif';
   font-size: 3.5rem;
}

nav>a {
    color: #000000;
    font-size: 1.1rem;
    padding: 0 0.3rem;
    letter-spacing: 0.1rem;
}

a:hover {
    
}

/* Play Game Page */
/* Main Styles */

/* How to style HTML5 audio tag: https://stackoverflow.com/questions/4126708/is-it-possible-to-style-html5-audio-tag */
audio {
    filter: sepia(90%) saturate(100%) grayscale(1) contrast(100%) invert(100%);
    width: 15.7rem;
    height: 2.2rem;
    color: #FA7819; 
}

/* How to remove rounded cornes of player: https://stackoverflow.com/questions/60923328/how-to-remove-rounded-corners-of-an-audio-tag-on-chrome-and-mobile-device */
audio::-webkit-media-controls-enclosure {
  border-radius: 0;
  border: medium outset #6d6772;
}

.matching-cards {
  display: flex;
  flex-direction: row;
  border: medium solid #000000;
  flex-wrap: wrap;
}

.front-card,
.back-card {
  height: 4rem;
  width: 4rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border: thin dotted #000000;
}

/* Footer */

/* Footnote */
.footnote-style {
    text-align: center;
    margin-top: 6.2rem;
    border-top: 2px solid #000000;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
}

.color-black {
  color: #000000;
}

/* Contact Page */
/* Contact Form */

.form-style {
  font-size: 1.2rem;
  margin-top: 5rem;
}

.input-field-style {
  box-shadow: 0.5rem 0.5rem 0.2rem #6d7178;
  background-color: #000;
  color: #FA7819;
  margin: 0.4rem 0;
}

.input-height {
  height: 1.5rem;
}

.button-style {
  background-color: #000;
  border: thick outset #6d6772;
  font-size: 0.9rem;
  color: #FA7819;
  text-align: center;
}

/* Media Queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

}
        
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}