/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DM+Serif+Display&display=swap');

/* General styles */

body {
  background-color: #FA7819;
}

/* Header & nav styles */

header {
    
}

.main-heading {
   font-family: Creepster;
}

nav>a {
    
}

a:hover {
    
}

/* Main styles */

/* Footer */

/* Footnote */
.footnote-style {
    text-align: center;
    margin-top: 6.2rem;
    border-top: 2px solid #000000;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
}

/* Media queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

}
        
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}